.container {
    padding: 46px 0px;
    background: #EF5931;
        .title {
            color: #033D62;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 21.982px;
        }
        .titles {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 24px;
            color: #fff;
        }
        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
           
        }
}

